---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
  {% for bookmark in site.data.bookmarks[page.categories] %}
  <header class="post-header">
    <h1 class="post-content h3" itemprop="name headline">{{ bookmark.title | escape }}</h1>
  </header>
  <div class="post-content" itemprop="articleBody">
    {% for item in bookmark.items  %}
      <p><a href="{{ item.url | escape }}">{{ item.title | escape }}</a>{% if item.desc %} - {{ item.desc }}{% endif %}</p>
    {% endfor %}
  </div>
  {% endfor %}
</article>
